<div class="row">
    <div class="column1">
        <img src="assets/img/twitter9.jpg" alt="Twitter-Poster" class="img1">
    
    </div>
    <div class="column2" >
        <img src="assets/img/tweetbird.jpg" alt="Twitter" class="img2" >
        <h2>Happening now</h2>
        <p class="p1">Join Twitter today.</p>

        <form >
            <button class="btn" id="button1" mat-icon-button >
                 Sign up with Google
            </button><br>
            <button class="btn" id="button2" mat-icon-button>
               Sign up with Apple</button><br>


                <div class="line"></div>
                <div style="display:inline-block;">OR</div>
                <div class="line"></div><br>

            <button class="btn" id="button3" formaction="#">Sign up with Phone or Email</button>

            <p>By signing up,you agree to the <a href = "#" class="a" >Terms of service </a> and <a href ="#" class="a">Privacy Policy</a>,<br> including <a href="#" class="a">Cookie Use</a>.</p>
            <h3>Already have an account? </h3>
            <button class="btn" id="button4" formaction="#">Sign in</button>
        </form>
    </div>
   
  </div>
  <div class=column3>
    <footer>
        <ul>
           
                <li><a class="a-link" href= "#"> About</a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#">  Help Center</a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Terms of services </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Privacy Policy </a></li>&nbsp;&nbsp;
                <li><a class="a-link"  href= "#"> Accessability </a></li>&nbsp;&nbsp;
                <li><a class="a-link"  href= "#"> Ads info </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Blog </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Status </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Careers </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Brand Resources </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Advertising </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Marketing </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Twitter for Business </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Developers </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> Directory </a></li>&nbsp;&nbsp;<br>
                <li class="settings"><a class="a-link" href= "#">Settings </a></li>&nbsp;&nbsp;
                <li><a class="a-link" href= "#"> @ 2022 Twitter, Inc. </a></li>&nbsp;&nbsp;
           
           
            
        </ul>
    </footer>
</div>