<body>
    <div class="container">
        <div class="item1">
            
          <h2>hello</h2>
        </div>
        <div class="item2">
            
            <img src="gym3.png" alt="Gym" id="img-2" >
            <h1>Happening Now</h1>
            
        </div>
        <div class="item3">
        <footer class="footer1"> 
            <ul>
                <li><a href= "#"> Own a Franchise </a></li>&nbsp;&nbsp;
                <li><a href= "#">  Train with us</a></li>&nbsp;&nbsp;
                <li><a href= "#"> Club finder </a></li>&nbsp;&nbsp;
                <li><a href= "#"> Class Timetable </a></li>&nbsp;&nbsp;
                <li><a href= "#"> Membership </a></li>&nbsp;&nbsp;
                <li><a href= "#"> Try us </a></li>&nbsp;&nbsp;
                
                
            </ul>
        </footer>
        </div>
    </div>
</body>